# Use LEAD_CONV_Snowpark38_XL Notebook template

In [1]:
from snowflake.snowpark import Session
from snowflake.connector.pandas_tools import write_pandas

# Data Science Libs
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# create_temp_table warning suppresion
import warnings; warnings.simplefilter('ignore')

Matplotlib created a temporary cache directory at /tmp/matplotlib-83wi05gj because the default path (/home/mosaic-ai/.cache/matplotlib) is not a writable directory; it is highly recommended to set the MPLCONFIGDIR environment variable to a writable directory, in particular to speed up the import of Matplotlib and to better support multiprocessing.

In [2]:
from fosforio import snowflake

Connection manager service url initialised to http://fdc-project-manager:80/project-manager
If you need to update its value then update the variable CONNECTION_MANAGER_BASE_URL in os env.

In [3]:
# To get snowflake connection object with a default snowflake connection created by the user, if available.
snowflake.get_connection()

User name picked from OS env: manishh.singh@fosfor.com
Fetching connections created by manishh.singh@fosfor.com user
Connection names fetched ['FDC_SNOWFLAKE', 'FDC_SNOWFLAKE', 'FDC_SNOWFLAKE', 'FDC_Insurance_Snowflake', 'FDC_Banking_FS_Snowflake', 'FDC_Banking_FS_Snowflake', 'FDC_Insurance_Snowflake', 'BFS_LEAD_CONV_CXN'], created by manishh.singh@fosfor.com
Exception occurred in getting snowflake connection: 'connectionSources'

In [4]:
# To read a specific dataset published from a snowflake connection
df = snowflake.get_dataframe("TRANSACTIONS")

In [5]:
df.shape

(227894, 14)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227894 entries, 0 to 227893
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ID                  227894 non-null  object
 1   LEAD_CREATION_DATE  227894 non-null  object
 2   MONTH               227894 non-null  int8
 3   YEAR                227894 non-null  int16
 4   QUARTER             227894 non-null  int8
 5   MOBILE_VERIFIED     227894 non-null  object
 6   FILLED_FORM         227894 non-null  object
 7   DEVICE_TYPE         227894 non-null  object
 8   VAR2                227894 non-null  object
 9   SOURCE              227894 non-null  object
 10  VAR4                227894 non-null  float64
 11  VAR5                227894 non-null  int8
 12  VAR1                227894 non-null  object
 13  DISBURSED           227894 non-null  float64
dtypes: float64(2), int16(1), int8(3), object(8)
memory usage: 18.5+ MB