In [2]:
# !pip install fosforml

# Importing Libraries

In [1]:
#Snowpark lib
from snowflake.snowpark import Session

# Data Science Libs
import numpy as np
import pandas as pd

# create_temp_table warning suppresion
import warnings; warnings.simplefilter('ignore')

#ConfigParser to read ini file
import configparser

from fosforio import snowflake

from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

Connection manager service url initialised to http://fdc-project-manager:80/project-manager
If you need to update its value then update the variable CONNECTION_MANAGER_BASE_URL in os env.

# Fetching Data

In [2]:
# To read a specific dataset published from a snowflake connection
df = snowflake.get_dataframe("MASTER")
df.head()

,ID,GENDER,DOB,CITY,STATE,AGE,MONTHLY_INCOME,EMPLOYER_NAME,SALARY_ACCOUNT,LOAN_AMOUNT_APPLIED,...,QUARTER,MOBILE_VERIFIED,FILLED_FORM,DEVICE_TYPE,VAR2,SOURCE,VAR4,VAR5,VAR1,DISBURSED
0,ID000977Z13,Male,10/1/1988,New York,New York,36,1313.242865,Hcl Global Systems,Bank of Hope,900000.0,...,4,Y,Y,Mobile,E,S127,7.0,14,HBXX,1.0
1,ID000626U25,Male,4/1/1992,New York,New York,32,1270.880192,Synechron,Bank of Marin,900000.0,...,2,Y,N,Web-browser,G,S151,5.0,10,HBXB,1.0
2,ID019473Z30,Male,02/1/1996,New York,New York,28,500.000000,Syntel,Exchange Bank,10000.0,...,2,Y,N,Web-browser,B,S144,4.0,11,HBXC,0.0
3,ID000062G50,Male,3/6/1989,New York,New York,35,1497.000000,Uber Technologies,Bank of Marin,900000.0,...,1,Y,Y,Web-browser,B,S133,4.0,0,HAXB,1.0
4,ID000935I02,Female,30/8/1996,New York,New York,28,903.000000,Hcl America,CIT Bank,700000.0,...,4,N,Y,Web-browser,B,S160,1.0,3,HBXX,0.0

In [3]:
df = df.dropna()

# Preprocessing

In [4]:
temp_data = df[["ID", "LEAD_CREATION_DATE", "DEVICE_TYPE", "SALARY_ACCOUNT", "CITY", "DOB", "EMPLOYER_NAME","YEAR","QUARTER","MONTH"]]
data = df.drop(["ID", "LEAD_CREATION_DATE", "DEVICE_TYPE", "SALARY_ACCOUNT", "CITY", "DOB", "EMPLOYER_NAME","YEAR","QUARTER","MONTH"], axis=1)

In [5]:
data.head()

,GENDER,STATE,AGE,MONTHLY_INCOME,LOAN_AMOUNT_APPLIED,LOAN_TENURE_APPLIED,EXISTING_EMI,MOBILE_VERIFIED,FILLED_FORM,VAR2,SOURCE,VAR4,VAR5,VAR1,DISBURSED
0,Male,New York,36,1313.242865,900000.0,3.0,139.0,Y,Y,E,S127,7.0,14,HBXX,1.0
1,Male,New York,32,1270.880192,900000.0,3.0,0.0,Y,N,G,S151,5.0,10,HBXB,1.0
2,Male,New York,28,500.000000,10000.0,0.0,100.0,Y,N,B,S144,4.0,11,HBXC,0.0
3,Male,New York,35,1497.000000,900000.0,3.0,140.0,Y,Y,B,S133,4.0,0,HAXB,1.0
4,Female,New York,28,903.000000,700000.0,3.0,0.0,N,Y,B,S160,1.0,3,HBXX,0.0

In [6]:
# data = data.dropna()

In [6]:
cat_col = []
num_col = []
target = "DISBURSED"

for k, v in dict(data.dtypes).items():
    if k != target:
        if v == "O":
            cat_col.append(k)
        else:
            num_col.append(k)

# Train Test Split

In [7]:
used_cols = [c for c in data.columns.tolist() if c not in [target]]
X = data[used_cols]
y = data[target]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Building and Training Model Pipeline

In [8]:
# making pipeline
scaler = RobustScaler()
encoder = OneHotEncoder(handle_unknown="ignore")
# putting numeric columns to scaler and categorical to encoder
num_transformer = make_pipeline(scaler)
cat_transformer = make_pipeline(encoder)

# getting together our scaler and encoder with preprocessor
preprocessor = ColumnTransformer(
      transformers=[('num', num_transformer, num_col),
                    ('cat', cat_transformer, cat_col)])

In [ ]:
# choosing model
model_name = RandomForestClassifier(n_estimators = 500, max_depth=8, random_state=25, max_samples=0.6)

# giving all values to pipeline
pipe = make_pipeline(preprocessor,model_name)
pipe.fit(X_train, y_train)

# Prediction

In [ ]:
# make predictions on test set
y_pred = pipe.predict(X_test)
y_prob = pipe.predict_proba(X_test)

# Model Evaluation

In [ ]:
# importing Libraries 
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, roc_curve, auc

In [ ]:
# Confusion Matrix 
cm = confusion_matrix(y_test, y_pred) 
# Accuracy 
accuracy = accuracy_score(y_test, y_pred) 
# Precision 
precision = precision_score(y_test, y_pred) 
# Recall 
recall = recall_score(y_test, y_pred) 
# F1-Score 
f1 = f1_score(y_test, y_pred) 
# ROC Curve and AUC 
fpr, tpr, thresholds = roc_curve(y_test, y_pred) 
roc_auc = auc(fpr, tpr) 
  
print("Confusion Matrix:") 
print(cm) 
print("Accuracy:", round(accuracy,2)) 
print("Precision:", round(precision,2)) 
print("Recall:", round(recall,2)) 
print("F1-Score:", round(f1,2)) 
print("ROC AUC:", round(roc_auc,2))

In [ ]:

import matplotlib.pyplot as plt 
  
# Plot ROC curve 
plt.figure() 
  
# Plot the ROC curve with a label displaying the ROC AUC score 
plt.plot(fpr, tpr, color='darkorange', lw=2, 
         label='ROC curve (area = %0.2f)' % roc_auc) 
  
# Plot a dashed diagonal line for reference 
plt.plot([0, 1], [0, 1], color='navy', lw=2, linestyle='--') 
  
# Set the x and y-axis limits 
plt.xlim([0.0, 1.0]) 
plt.ylim([0.0, 1.05]) 
  
# Label the x and y-axes 
plt.xlabel('False Positive Rate') 
plt.ylabel('True Positive Rate') 
  
# Set the title of the plot 
plt.title('Receiver Operating Characteristic') 
  
# Add a legend to the plot 
plt.legend(loc='lower right') 
  
# Display the ROC curve plot 
plt.show()

# Model Registrartion

In [15]:
from fosforml import *
from fosforml.constants import MLModelFlavours
import requests

In [32]:
@scoring_func
def score(model, request):
    payload_dict = eval(request.json["payload"])
    data = pd.DataFrame.from_dict(payload_dict)
    result = pipe.predict(data)
    prediction = pd.DataFrame({"Lead_Status":result})
    prediction["Lead_Status"] = prediction["Lead_Status"].apply(lambda x: "Converted" if x == 1 else "Not Converted")
    probability = pipe.predict_proba(data)
    prediction["Probability"] = [round(k[1],4) for k in probability]
    prediction = str(prediction.to_dict())
    return prediction

In [33]:
payload = X_test.head(100).to_dict()
req = requests.Request()
req.json = {"payload":str(payload)}
y = req
yo = score(pipe, y)
yo

"{'Lead_Status': {0: 'Not Converted', 1: 'Converted', 2: 'Converted', 3: 'Not Converted', 4: 'Not Converted', 5: 'Not Converted', 6: 'Not Converted', 7: 'Converted', 8: 'Not Converted', 9: 'Not Converted', 10: 'Not Converted', 11: 'Not Converted', 12: 'Not Converted', 13: 'Not Converted', 14: 'Not Converted', 15: 'Not Converted', 16: 'Converted', 17: 'Not Converted', 18: 'Not Converted', 19: 'Not Converted', 20: 'Converted', 21: 'Not Converted', 22: 'Not Converted', 23: 'Not Converted', 24: 'Converted', 25: 'Not Converted', 26: 'Converted', 27: 'Converted', 28: 'Converted', 29: 'Converted', 30: 'Not Converted', 31: 'Not Converted', 32: 'Converted', 33: 'Converted', 34: 'Not Converted', 35: 'Not Converted', 36: 'Not Converted', 37: 'Not Converted', 38: 'Converted', 39: 'Not Converted', 40: 'Not Converted', 41: 'Converted', 42: 'Not Converted', 43: 'Not Converted', 44: 'Converted', 45: 'Not Converted', 46: 'Not Converted', 47: 'Converted', 48: 'Not Converted', 49: 'Not Converted', 50: 'Not Converted', 51: 'Not Converted', 52: 'Converted', 53: 'Not Converted', 54: 'Not Converted', 55: 'Not Converted', 56: 'Converted', 57: 'Not Converted', 58: 'Not Converted', 59: 'Converted', 60: 'Not Converted', 61: 'Not Converted', 62: 'Converted', 63: 'Not Converted', 64: 'Converted', 65: 'Not Converted', 66: 'Not Converted', 67: 'Converted', 68: 'Converted', 69: 'Converted', 70: 'Not Converted', 71: 'Converted', 72: 'Not Converted', 73: 'Not Converted', 74: 'Not Converted', 75: 'Converted', 76: 'Not Converted', 77: 'Not Converted', 78: 'Not Converted', 79: 'Not Converted', 80: 'Converted', 81: 'Not Converted', 82: 'Not Converted', 83: 'Not Converted', 84: 'Not Converted', 85: 'Not Converted', 86: 'Converted', 87: 'Converted', 88: 'Not Converted', 89: 'Not Converted', 90: 'Not Converted', 91: 'Not Converted', 92: 'Converted', 93: 'Not Converted', 94: 'Not Converted', 95: 'Converted', 96: 'Not Converted', 97: 'Converted', 98: 'Not Converted', 99: 'Converted'}, 'Probability': {0: 0.1751, 1: 0.8642, 2: 0.8114, 3: 0.1555, 4: 0.3688, 5: 0.1075, 6: 0.3667, 7: 0.9234, 8: 0.1996, 9: 0.1312, 10: 0.257, 11: 0.3821, 12: 0.1021, 13: 0.4145, 14: 0.3159, 15: 0.2863, 16: 0.8261, 17: 0.1333, 18: 0.338, 19: 0.2396, 20: 0.5524, 21: 0.3364, 22: 0.3128, 23: 0.2542, 24: 0.5588, 25: 0.4333, 26: 0.8984, 27: 0.6272, 28: 0.7424, 29: 0.8408, 30: 0.0951, 31: 0.2242, 32: 0.6292, 33: 0.8124, 34: 0.0644, 35: 0.2905, 36: 0.1502, 37: 0.2926, 38: 0.6222, 39: 0.1165, 40: 0.2648, 41: 0.8571, 42: 0.1079, 43: 0.1339, 44: 0.6623, 45: 0.4338, 46: 0.1086, 47: 0.5136, 48: 0.1265, 49: 0.0973, 50: 0.1335, 51: 0.105, 52: 0.8429, 53: 0.0199, 54: 0.3172, 55: 0.1281, 56: 0.5688, 57: 0.3689, 58: 0.1183, 59: 0.8357, 60: 0.1321, 61: 0.0799, 62: 0.6302, 63: 0.0841, 64: 0.647, 65: 0.097, 66: 0.129, 67: 0.7519, 68: 0.8302, 69: 0.7116, 70: 0.0289, 71: 0.611, 72: 0.1924, 73: 0.4498, 74: 0.3616, 75: 0.5945, 76: 0.1114, 77: 0.0943, 78: 0.2885, 79: 0.1373, 80: 0.6198, 81: 0.0758, 82: 0.1935, 83: 0.178, 84: 0.2404, 85: 0.1181, 86: 0.572, 87: 0.7915, 88: 0.0753, 89: 0.1, 90: 0.1242, 91: 0.2913, 92: 0.8512, 93: 0.1127, 94: 0.1146, 95: 0.6776, 96: 0.3776, 97: 0.6714, 98: 0.3148, 99: 0.5501}}"

In [34]:
## registering the model in Fosfor.
model_reg = register_model(pipe,
               score, 
               name="Lead_Conversion_model", 
               description="Lead_conversion_RandomForest_Model",
               flavour=MLModelFlavours.sklearn,
               model_type="classification",
               init_script="\\n pip install fosforml \\n pip install fosforio[snowflake] \\n pip install sklearn\\n pip install snowflake-connector-python[pandas]",
               y_true=y_test,
               y_pred=y_pred,
               prob=y_prob,
               features=X_train.columns,
               input_type="json", 
               explain_ai=True,
               x_train=X_train, 
               x_test=X_test, 
               y_train=y_train,
               y_test=y_test,
               feature_names=X_train.columns.tolist(),
               original_features=X_train.columns.tolist(),
               feature_ids=X_train.columns,
               kyd=True, kyd_score = True)

Calculating build time metrics

Progress: ██████████████████████████████████████████████████████████████████████ 100.0%

VBox(children=(HTML(value='<style>.grad_1{background: #2468a4;} .grad_2{ color:white; background: #2468a4;}</s…

# Predicted File to snowflake

In [35]:
import os
config = configparser.ConfigParser()
config.read("credentials.ini")

connection_parameters = {
    "user": f'{config["Snowflake"]["user"]}',
    "password": os.getenv('Snowflake_password'),
    "account": f'{config["Snowflake"]["account"]}',
    "WAREHOUSE": f'{config["Snowflake"]["WAREHOUSE"]}',
    "DATABASE": f'{config["Snowflake"]["DATABASE"]}',
    "SCHEMA": f'{config["Snowflake"]["SCHEMA"]}'
}


def snowflake_connector(conn):
    try:
        session = Session.builder.configs(conn).create()
        print("connection successful!")
    except:
        raise ValueError("error while connecting with db")
    return session

session = snowflake_connector(connection_parameters)

connection successful!

In [36]:
data["Lead_Status"] = pipe.predict(data)
data["Lead_Status"] = data["Lead_Status"].apply(lambda x: "Converted" if x == 1 else "Not Converted")

probability = pipe.predict_proba(data)
data["Probability"] = [round(k[1],4) for k in probability]

In [37]:
data.head()

,GENDER,STATE,AGE,MONTHLY_INCOME,LOAN_AMOUNT_APPLIED,LOAN_TENURE_APPLIED,EXISTING_EMI,MOBILE_VERIFIED,FILLED_FORM,VAR2,SOURCE,VAR4,VAR5,VAR1,DISBURSED,Lead_Status,Probability
0,Male,New York,36,1313.242865,900000.0,3.0,139.0,Y,Y,E,S127,7.0,14,HBXX,1.0,Converted,0.8964
1,Male,New York,32,1270.880192,900000.0,3.0,0.0,Y,N,G,S151,5.0,10,HBXB,1.0,Converted,0.7631
2,Male,New York,28,500.000000,10000.0,0.0,100.0,Y,N,B,S144,4.0,11,HBXC,0.0,Not Converted,0.0941
3,Male,New York,35,1497.000000,900000.0,3.0,140.0,Y,Y,B,S133,4.0,0,HAXB,1.0,Converted,0.8840
4,Female,New York,28,903.000000,700000.0,3.0,0.0,N,Y,B,S160,1.0,3,HBXX,0.0,Not Converted,0.0830

In [38]:
data[["ID", "LEAD_CREATION_DATE", "DEVICE_TYPE", "SALARY_ACCOUNT", "CITY", "DOB", "EMPLOYER_NAME","YEAR","QUARTER","MONTH"]] = temp_data[["ID", "LEAD_CREATION_DATE", "DEVICE_TYPE", "SALARY_ACCOUNT", "CITY", "DOB", "EMPLOYER_NAME","YEAR","QUARTER","MONTH"]]

In [39]:
data["QUARTER"] = data["QUARTER"].apply(lambda x: "Q"+str(x))

In [40]:
def change_date_format(x):
    temp = x.split("/")
    temp = temp[::-1]
    return "-".join(temp)

data["LEAD_CREATION_DATE"] = data["LEAD_CREATION_DATE"].apply(change_date_format)
data["DOB"] = data["DOB"].apply(change_date_format)

In [41]:
def first_of_month(x):
    temp = x.split("-")
    temp[-1] = "1"
    return "-".join(temp)
data["LEAD_CREATION_DATE"] = data["LEAD_CREATION_DATE"].apply(first_of_month)

In [42]:
len(data.columns)

27

In [44]:
df_snowflake=session.createDataFrame(
        data.values.tolist(),
        schema=data.columns.tolist())

df_snowflake.write.mode("overwrite").save_as_table("FDC_BANKING_FS.BFS_LEAD_CONV_SCHEMA.MASTER_DATA")