# Use Credit Risk Analytics Notebook template

In [1]:
#Snowpark lib
from snowflake.snowpark import Session

# Data Science Libs
import numpy as np
import pandas as pd

# create_temp_table warning suppresion
import warnings; warnings.simplefilter('ignore')

#ConfigParser to read ini file
import configparser

# How to use Notebook Variables declared in customized template

In [2]:
import os
print (os.getenv('notebook_environment'))

PrPr

In [3]:
print (os.getenv('notebook_template'))

Credit Risk Analytiics

# How to use Project Parameters declared under Notebooks section

In [4]:
print (os.getenv('github_id'))

mhs10031990

In [5]:
print (os.getenv('github_repo_url'))

https://github.com/mhs10031990/ATM_Payments.git

# Different ways to achieve Snowflake Connection

## 1. Code to establish connection using Config Parser and .ini file

In [6]:
config = configparser.ConfigParser()
config.read("snowflake_connection.ini")

['snowflake_connection.ini']

In [7]:
connection_parameters = {
    "user": f'{config["Snowflake"]["user"]}',
    "password": os.getenv('Snowflake_password'),
    "account": f'{config["Snowflake"]["account"]}',
    "WAREHOUSE": f'{config["Snowflake"]["WAREHOUSE"]}',
    "DATABASE": f'{config["Snowflake"]["DATABASE"]}',
    "SCHEMA": f'{config["Snowflake"]["SCHEMA"]}'
}

In [8]:
def snowflake_connector(conn):
    try:
        session = Session.builder.configs(conn).create()
        print("connection successful!")
    except:
        raise ValueError("error while connecting with db")
    return session

session = snowflake_connector(connection_parameters)

connection successful!

In [9]:
df = session.table("ATM_METADATA")

In [10]:
df = df.to_pandas()

In [11]:
df.head()

,ATM_ID,MAX_CAPACITY,BANK_ID,STATE,CREATED_BY,CREATED_AT
0,SPCN2020,2640000.0,1,Michigan,FDC_User,2024-05-28 02:30:46.282000-07:00
1,TBH00000303920,3520000.0,3,Minnesota,FDC_User,2024-05-28 02:30:46.282000-07:00
2,TBH00000303919,3520000.0,3,Hawaii,FDC_User,2024-05-28 02:30:46.282000-07:00
3,TBH00000303918,3520000.0,3,Utah,FDC_User,2024-05-28 02:30:46.282000-07:00
4,TBH00000303917,3520000.0,3,Oregon,FDC_User,2024-05-28 02:30:46.282000-07:00

In [12]:
df.shape

(420, 6)

# 2 Using Inbuilt FosforIO package

In [13]:
from fosforio import snowflake

Connection manager service url initialised to http://fdc-project-manager:80/project-manager
If you need to update its value then update the variable CONNECTION_MANAGER_BASE_URL in os env.

In [14]:
# To get snowflake connection object with a default snowflake connection created by the user, if available.
snowflake.get_connection()

# To get snowflake connection object with a specific connection name
#snowflake.get_connection(connection_name="FDC_Insurance_Snowflake")

User name picked from OS env: manishh.singh@fosfor.com
Fetching connections created by manishh.singh@fosfor.com user
Connection names fetched ['FDC_SNOWFLAKE', 'FDC_SNOWFLAKE', 'FDC_SNOWFLAKE', 'FDC_Insurance_Snowflake', 'FDC_Banking_FS_Snowflake', 'FDC_Banking_FS_Snowflake'], created by manishh.singh@fosfor.com
Exception occurred in getting snowflake connection: 'connectionSources'

In [15]:
# To read a specific dataset published from a snowflake connection
df = snowflake.get_dataframe("ATM_METADATA")

In [16]:
df.head()

,ATM_ID,MAX_CAPACITY,BANK_ID,STATE,CREATED_BY,CREATED_AT
0,SPCN2020,2640000.0,1,Michigan,FDC_User,2024-05-28 02:30:46.282000-07:00
1,TBH00000303920,3520000.0,3,Minnesota,FDC_User,2024-05-28 02:30:46.282000-07:00
2,TBH00000303919,3520000.0,3,Hawaii,FDC_User,2024-05-28 02:30:46.282000-07:00
3,TBH00000303918,3520000.0,3,Utah,FDC_User,2024-05-28 02:30:46.282000-07:00
4,TBH00000303917,3520000.0,3,Oregon,FDC_User,2024-05-28 02:30:46.282000-07:00

# 3 Using Snowflake Snowpark

In [17]:
#Import all snowflake connection details from Template or Project variables.

db_user = os.getenv('Snowflake_user')
db_password =  os.getenv('Snowflake_password')
db_account = os.getenv('Snowflake_Account')
db_database =  os.getenv('Snowflake_Database')
db_role = os.getenv('Snowflake_user')
db_warehouse = os.getenv('Snowflake_Warehouse')
db_schema = os.getenv('Snowflake_Schema')

In [18]:
from snowflake.snowpark.session import Session
connection_params = {
    'user': db_user,
    'password': db_password,
    'account': db_account,
    'warehouse': db_warehouse,
    'database': db_database,
    'schema': db_schema,
    'role': db_role
}
session = Session.builder.configs(connection_params).create()

In [19]:
session.sql('use warehouse FOSFOR_SOLUTIONS_WH;').collect()
session.sql('use database FDC_Banking_FS;').collect()
session.sql('use schema FDC_Banking_FS.PUBLIC;').collect()

df_customer = session.table('FDC_Banking_FS.PUBLIC.ATM_METADATA').to_pandas()

In [20]:
df_customer.head()

,ATM_ID,MAX_CAPACITY,BANK_ID,STATE,CREATED_BY,CREATED_AT
0,SPCN2020,2640000.0,1,Michigan,FDC_User,2024-05-28 02:30:46.282000-07:00
1,TBH00000303920,3520000.0,3,Minnesota,FDC_User,2024-05-28 02:30:46.282000-07:00
2,TBH00000303919,3520000.0,3,Hawaii,FDC_User,2024-05-28 02:30:46.282000-07:00
3,TBH00000303918,3520000.0,3,Utah,FDC_User,2024-05-28 02:30:46.282000-07:00
4,TBH00000303917,3520000.0,3,Oregon,FDC_User,2024-05-28 02:30:46.282000-07:00